@model Clinic.BackEnd.Models.Sampling

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Sampling</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.BarCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BarCode)
                @Html.ValidationMessageFor(model => model.BarCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Iteration, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Iteration)
                @Html.ValidationMessageFor(model => model.Iteration)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Location)
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SamplingType_Id, "SamplingType_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SamplingType_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.SamplingType_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SamplingStatus_Id, "SamplingStatus_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("SamplingStatus_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.SamplingStatus_Id)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
