@model Clinic.BackEnd.Models.Sampling

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Sampling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Appointment.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Appointment.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamplingStatu.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamplingStatu.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamplingType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamplingType.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BarCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BarCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Iteration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Iteration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @if (ViewBag.ReturnUrl != null)
    {
        <a href="@ViewBag.ReturnUrl">Back to List</a>
    }
    else
    {
        @Html.ActionLink("Back to List", "Index")
    }
</p>
