@using GridMvc.Html
@model IEnumerable<Clinic.BackEnd.Models.Corset>




@section header {
    <h1>@Html.Label(Languages.Global.Corset)</h1>
}


<hr />

<p style="text-align: right">

    <input type="button" title="create" value='@Languages.Global.Add' onclick="location.href='@Url.Action("create", "Corset")' ;" class="btn btn-info pull-Right" />
</p>
@helper RenderActionColumn(int id)
{
    <div class="pull-right">

            <input type="button" title="edit" value='@Languages.Global.Edit' onclick="location.href='@Url.Action("edit", "Corset", new { ID = id })' ;" class="btn btn-info" />

    </div>
}

<div>
    @Html.Grid(Model).Columns(columns =>
    {

        columns.Add(c => c.CorsetType.Name).Titled(Html.DisplayNameFor(x => x.CorsetType.Name).ToString()).Filterable(true);
        columns.Add(c => c.Start).Titled(Html.DisplayNameFor(x => x.Start).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.End).Titled(Html.DisplayNameFor(x => x.End).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.Comment).Titled(Html.DisplayNameFor(x => x.Comment).ToString()).Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => RenderActionColumn(c.Id).ToHtmlString());

    }).WithPaging(10).Sortable(true).SetLanguage(Session["Language"].ToString())

</div>


