@model Clinic.BackEnd.Models.Participant
@using Clinic.BackEnd.Models
@using GridMvc.Html

@using GridMvc.Html

@section header {
    <h1>@Html.Label(Languages.Global.Corset)</h1>
}


<hr />

<p style="text-align: right">
    <input type="button" title="create" value='@Languages.Global.Add' id="addCorsetDialogButton" class="btn btn-info pull-Right" />
</p>
@helper RenderActionColumn(int id)
{
    <div class="pull-right">

        <input type="button" title="edit" value='@Languages.Global.Edit' class="editCorsetDialogButton btn btn-info" data-Corset-id="@id" />
        <input type="button" title="delete" value='@Languages.Global.Delete' class="confirmDeleteCorsetDialogButton btn btn-info" data-Corset-id="@id" />

    </div>
}


<div>
    @if (Session["Language"].ToString().ToLower() == "en")
    {
    @Html.Grid(Model.Corsets).Columns(columns =>
    {

        columns.Add(c => c.CorsetType.Name).Titled(Html.DisplayNameFor(x => x.Corsets.First().CorsetType.Name).ToString()).Filterable(true);
        columns.Add(c => c.Start).Titled(Html.DisplayNameFor(x => x.Corsets.First().Start).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.End).Titled(Html.DisplayNameFor(x => x.Corsets.First().End).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.Comment).Titled(Html.DisplayNameFor(x => x.Comment).ToString()).Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => RenderActionColumn(c.Id).ToHtmlString());

    }).WithPaging(10).Sortable(true).SetLanguage(Session["Language"].ToString())
    }
    else
    {
   @Html.Grid(Model.Corsets).Columns(columns =>
    {


        columns.Add(c => c.CorsetType.Name).Titled(Html.DisplayNameFor(x => x.Corsets.First().CorsetType.Name).ToString()).Filterable(true);
        columns.Add(c => c.Start).Titled(Html.DisplayNameFor(x => x.Corsets.First().Start).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.End).Titled(Html.DisplayNameFor(x => x.Corsets.First().End).ToString()).Filterable(true).Format("{0:yyyy/mm/dd}");
        columns.Add(c => c.Comment).Titled(Html.DisplayNameFor(x => x.Comment).ToString()).Filterable(true);
        columns.Add().Encoded(false).Sanitized(false).RenderValueAs(c => RenderActionColumn(c.Id).ToHtmlString());

    }).WithPaging(10).Sortable(true).SetLanguage(Session["Language"].ToString())
    }


</div>


